.cwf-fixed-font {
	font-family: monospace;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.cwf-xml-tag {
	color: darkviolet;
	font-weight: bold;
}

.cwf-xml-attrname {
	color: darkred;
}

.cwf-xml-attrvalue {
	color: darkblue;
}

.cwf-xml-content {
	color: magenta;
}

