.cwf-pagemonitor {
	position: fixed;
	display: none;
	background: none;
	z-index: 9999 !important;
	top: 0;
	botton: 0;
	right: 0;
	left: 0;
}

.cwf-pagemonitor>.panel-heading {
	display: none;
}

.cwf-pagemonitor label {
	font-size: 1em;
	white-space: pre-wrap;
	vertical-align: middle;
}

.cwf-pagemonitor-info {
    display:block;
    color: red;
    font-weight: bold;
    padding-top: 5px
}

.cwf-pagemonitor-panel {
	border: 1px gray solid;
	border-top: none;
    border-radius: 0 0 5px 5px;
}

.cwf-pagemonitor div {
    overflow: hidden;
}

.cwf-pagemonitor-panel>label {
    font-weight: bold; 
    margin-right: 40px;
}

.cwf-pagemonitor-lock-panel {
	text-align: center;
    width: 100%;
    height: 100%;
    display: none;
}

.cwf-pagemonitor-lock-panel .cwf_toolbar {
	border: none;
}

.cwf-pagemonitor-lock-panel>div {
	top: 25%;
	position: relative;
	background: ivory;
	border-radius: 10px;
	padding: 10px;
}

.cwf-pagemonitor-lock-panel>div>div {
	padding: 10px;
}

.cwf-pagemonitor-lock-panel>div>label:first-child {
	width: 100%;
	font-size: 150%;
	padding: 10px;
}

.cwf-pagemonitor-lock-panel .glyphicon {
    font-size: 300%;
    margin: 20px 0 0 0;
}

.cwf-pagemonitor-lock-panel label {
    flex: 1;
}

.cwf-pagemonitor-lock-panel>div {
	width: 50%;
	min-width: 200px;
	display: inline-block
}

.cwf-pagemonitor-baseline-countdown,
.cwf-pagemonitor-lock-countdown,
.cwf-pagemonitor-lock-idle,
.cwf-pagemonitor-shutdown-countdown {
	display: inline;
}

.cwf-pagemonitor-lock-idle,
.cwf-pagemonitor-lock-countdown {
	opacity: 1 !important;
	pointer-events: auto !important;
	height: 100%;
	background: lightgray;
}

.cwf-pagemonitor-lock-idle .cwf-pagemonitor-panel {
	visibility: hidden;
}

.cwf-pagemonitor-lock-idle .cwf-pagemonitor-lock-panel,
.cwf-pagemonitor-lock-countdown .cwf-pagemonitor-lock-panel {
	display: block;
}

.cwf-pagemonitor-shutdown-countdown {
	opacity: .75;
    pointer-events: none;
}

.cwf-pagemonitor-shutdown-countdown .cwf-pagemonitor-panel input,
.cwf-pagemonitor-shutdown-countdown .cwf-pagemonitor-panel button {
	display: none;
}

.cwf-pagemonitor-lock-spawned {
	color: blue;
	font-size: 2em;
}

