.cwf-sessionmonitor {
	position: fixed;
	display: none;
	overflow: hidden;
	background: none;
	z-index: 9999 !important;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.cwf-sessionmonitor div {
    overflow: hidden;
}

.cwf-sessionmonitor label {
	white-space: pre-wrap;
}

.cwf-sessionmonitor-info {
    display: block;
    color: red;
}

.cwf-sessionmonitor-countdown-panel {
	border: 1px gray solid;
	border-top: none;
    border-radius: 0 0 5px 5px;
}

.cwf-sessionmonitor-lock-panel {
	text-align: center;
    width: 100%;
    height: 100%;
    display: none;
}

.cwf-sessionmonitor-lock-panel .cwf_toolbar {
	border: none;
}

.cwf-sessionmonitor-lock-panel>div {
	top: 25%;
	position: relative;
	background: ivory;
	border-radius: 10px;
	padding: 10px;
}

.cwf-sessionmonitor-lock-panel>div>div {
	padding: 10px;
}

.cwf-sessionmonitor-lock-panel>div>label:first-child {
	font-size: 150%;
	padding: 10px;
}

.cwf-sessionmonitor-lock-panel .glyphicon {
    font-size: 300%;
    margin: 20px 0 0 0;
}

.cwf-sessionmonitor-lock-panel label {
    flex: 1;
}

.cwf-sessionmonitor-lock-panel>div {
	width: 50%;
	min-width: 200px;
	display: inline-block
}

.cwf-sessionmonitor-baseline-countdown,
.cwf-sessionmonitor-lock-countdown,
.cwf-sessionmonitor-lock-idle {
	display: inline;
}

.cwf-sessionmonitor-lock-idle,
.cwf-sessionmonitor-lock-countdown {
	opacity: 1 !important;
	pointer-events: auto !important;
	height: 100%;
	background: lightgray;
}

.cwf-sessionmonitor-lock-idle .cwf-sessionmonitor-countdown-panel {
	visibility: hidden;
}

.cwf-sessionmonitor-lock-idle .cwf-sessionmonitor-lock-panel,
.cwf-sessionmonitor-lock-countdown .cwf-sessionmonitor-lock-panel {
	display: block;
}

.cwf-sessionmonitor-shutdown {
	opacity: .75;
    pointer-events: none;
}

.cwf-sessionmonitor-shutdown .cwf-sessionmonitor-countdown-panel input,
.cwf-sessionmonitor-shutdown .cwf-sessionmonitor-countdown-panel button {
	display: none;
}


