@CHARSET "UTF-8";

.sharedForms-captioned-header .z-caption-content {
	font-size: 1.25em;
	font-family: arial;
	font-weight: bold;
}

.sharedForms-captioned-caption-hidden .z-caption {
	display: none;		
}

.sharedForms-captioned-caption-title .z-caption-content,
.sharedForms-captioned-caption-frame .z-caption-content,
.sharedForms-captioned-caption-left .z-caption-content {
	text-align: left;
	padding-left: 5px;
}

.sharedForms-captioned-caption-right .z-caption-content {
	text-align: right;	
	width: 100%;
	padding-right: 5px;
}

.sharedForms-captioned-caption-center .z-caption-content {
	text-align: center;
	width: 100%;
}

