<html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" type="text/css"
		 href="../webjars/bootstrap/css/bootstrap.css" />
	
	<body>
		<div class="panel panel-danger text-center" style="width:50%;margin-left:25%">
			<div class="panel-heading">
				<label class="panel-title" th:text="${title}"></label> 
			</div>
			<div class="panel-body">
				<div class="text-info" th:text="${message}"></div>
			</div>
			<div class="panel-footer">
				<div class="btn-toolbar" role="toolbar" style="display:flex;justify-content:center">
					<a class="btn btn-success" 
						th:unless="${authenticated}" 
						th:text="#{security.denied.button.login.label}"
						href="login">
					</a>
					<a class="btn btn-primary" 
						th:if="${authenticated}"
						th:text="#{security.denied.button.home.label}"
						href="/">
					</a>
					<a class="btn btn-danger" 
						th:if="${authenticated}" 
						th:text="#{security.denied.button.logout.label}"
						href="/security/logout">
					</a>
				</div>
			</div>
		</div>
	</body>	
</html>
