<html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" type="text/css" href="../webjars/bootstrap/css/bootstrap.css" />

	<body>
		<form name="password_change" action="./login" method="POST"
			autocomplete="off">
			<div style="width:350px" class="panel panel-primary">
				<div class="panel-heading">
					<label class="panel-title"
						th:text="#{security.password.change.form.title.label}"></label>
				</div>
				<div class="panel-body">
					<input type="text" value="username" />
					<table style="width:100%;border:none">
						<tr>
							<th width="30%" style="text-align:right"></th>
							<th width="70%"></th>
						</tr>
						<tr>
							<td rowspan="2" style="overflow:auto;padding:5px;text-align:center">
								<label id="lblInfo">xxxx</label>
							</td>
							<td>
								<label
									th:text="#{security.password.change.form.current.password.label}"></label>
								<input type="password" id="txtPassword" style="flex:1" autofocus
								 />
							</td>
							<td>
								<label th:text="${security.password.change.form.new.password.label}"></label>
								<input type="password" style="flex:1" value="password" />
							</td>
							<td>
								<label
									th:text="#{security.password.change.form.confirm.new.password.label}"></label>
								<input type="password" id="txtPassword2" style="flex:1" />
							</td>
						</tr>
					</table>
				</div>
				<div style="text-align:center">
					<label id="lblMessage" class="text-danger"></label>
				</div>
				<div class="panel-footer">
					<div class="btn-toolbar" style="background:none;text-align:center">
						<input type="submit" class="btn btn-success" value="OK">
						<input type="submit" class="btn btn-danger" value="Cancel">
					</div>
				</div>
			</div>
		</form>
	</body>
</html>
