<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- Appenders -->
	<appender class="org.apache.log4j.ConsoleAppender" name="stdout">
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d{yyyy/MM/dd HH:mm:ss.SSS} %p %t %c - %m%n"
				name="ConversionPattern" />
		</layout>
	</appender>

	<appender class="org.carewebframework.logging.log4j.TestAppender" name="test">
		<layout class="org.carewebframework.logging.log4j.Perf4JPatternLayout">
			<param value="tag:%P{tag}, time:%P{time}, start:%P{start}, task:%P{message.task}, other:%P{message.other}%n" name="ConversionPattern" />
		</layout>
	</appender>

	<logger name="org.carewebframework.util.StopWatch">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>

	<logger name="org.carewebframework.logging.log4j.LoggingTest">
		<level value="info" />
		<appender-ref ref="test" />
	</logger>

	<root>
		<appender-ref ref="stdout"/>
		<appender-ref ref="test"/>
	</root>
</log4j:configuration>