@CHARSET "UTF-8";

/*
	Global stylesheet for CareWeb application.  Styles here will be applied to all components.
*/

.cwf-desktop {
}

.cwf-desktop-notitle {
 	display: none;
}

.cwf-plugin-container {
	position: relative;
	overflow: auto
}

.cwf-anchor {
	background: transparent!important;
	border: none!important;
	text-decoration: underline!important;
	margin: 4px!important;
}

.cwf-topToolbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.cwf-pluginWithToolbar {
	position: absolute;
	overflow: auto;
	top: 30px;
	bottom: 0;
	right: 0;
	left: 0;
}

.cwf-pluginWithoutToolbar {
	position: absolute;
	overflow: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.cwf-tab-panel {
	padding: 0;
}

.cwf-treeview {
	overflow: auto;
}

.cwf-treeview-node {
	text-align: left;
	display: block;
}

.cwf-treeview-node > .cwf-treeview-node {
	margin-left: 8px;
}

.cwf-treeview-node > a {
	background-image: none;
	width: 100%;
	border: none;
	text-align: left;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 90%;
}	

.cwf-treeview-node > a:before {
	display: inline-block;
	width: 0;
	height: 0;
	margin-right: 5px;
	margin-left: -5px;
	vertical-align: middle;
	border: 6px solid transparent;
	content: " ";
}

.cwf-treeview-node > a > .badge {
	margin-left: 5px;
}

.cwf-treeview-node-disabled {
	opacity: 0.5;
}

.cwf-treeview-node-exp > a:before {
	border-top: 6px solid;
}

.cwf-treeview-node-col > a:before {
	border-left: 6px solid;
	margin-top: -4px;
}

.cwf-treeview-node-col > span {
	display: none;
}
		
.cwf-header-cell * {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background: none!important;
	border: none!important;
}

.cwf-header-row {
	padding: 0 5px 0 5px;
	overflow: hidden;
}

.cwf-header-row * {
	text-overflow: ellipsis!important;
	white-space: nowrap!important;
	vertical-align: middle!important;
	overflow: visible;
}

.cwf-menu-header {
    background: lightyellow;
    border-bottom: 1px gray solid;
}

.cwf-menu-header.z-menuitem * {
	font-weight: bold;
	color: black!important;
}

.cwf-step-taskbar > * {
	display: inline-block;
}

.cwf-step-taskbar-left {
	float: left;
}

.cwf-step-taskbar-left img {
	max-height: 20px;
}

.cwf-step-taskbar-center {
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}

.cwf-step-title {
	margin-right: 10px;
}

.cwf-step-title:empty {
	display: none;
}

.cwf-step-button.btn-primary {
	outline: solid 1px;
}

.cwf-step-button:hover {
	outline: 2px solid #CDE9FD;
}

.cwf-step-separator:after {
	margin: 0 5px 0 5px;
  	font-family: 'Glyphicons Halflings';
  	font-size: 50%;
	content: "\e080\e080";
}

.cwf-step-nonav .cwf-step-separator:after {
	visibility: hidden;
	margin: 0;
}

.cwf-propertygrid-grid {
	border: none;
}

.cwf-propertygrid-embedded .panel-heading {
	zoom: 0.75;
	min-height: 43px;
}

.cwf-propertygrid-selectedrow td {
    background-color: lightyellow!important;
}

.cwf-propertygrid-info {
	border: none;
}

*.cwf-designmode-active {
	outline: 1px dotted gray;
}

.cwf-about-header {
	font-size: 150%;
	white-space: normal;
	font-weight: bold;
	color: darkblue;
}

.cwf-about-description {
	background: lightyellow;
	border-top: 1px solid gray;
}

@media print {
}

