@charset "UTF-8";

/*
	Style sheet for printing.
*/

.cwf-topToolbar {
	display: none;
}

.cwf-pluginWithToolbar {
	position: relative;
	overflow: visible;
}

.cwf-pluginWithoutToolbar {
	position: relative;
	overflow: visible;
}

/* Used for print to ensure all data is on the page with 'shrink to fit' option */
.z-window-embedded,.z-window-modal,.z-window-overlapped,.z-window-popup,.z-window-highlighted
{
	margin: 0;
	overflow: visible !important;
	padding: 0;
	zoom: normal !important;
}

/* Used for print to ensure all data is on the page with 'shrink to fit' option */
.z-window-modal-content-noborder,.z-window-highlighted-content-noborder,.z-window-embedded-content-noborder,.z-window-overlapped-content-noborder,.z-window-popup-content-noborder
{
	border: 0;
	overflow: visible !important;
	zoom: normal !important;
}

/* Hide paging header and footer */
.z-grid-pgi-t,.z-grid-pgi-b,.z-listbox-pgi-t,.z-listbox-pgi-b 
{
	display: none !important;
}
