.cwf-desktopmonitor {
	position: fixed;
	display: none;
	background: none;
	z-index: 9999 !important;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.cwf-desktopmonitor div {
    overflow: hidden;
}

.cwf-desktopmonitor .z-label {
	white-space: pre-wrap;
	font-weight: bold;
	font-size: 100%;
}

.cwf-desktopmonitor-info {
    display: block;
    color: red;
}

.cwf-desktopmonitor-countdown-panel {
	border: 1px gray solid;
	border-top: none;
    border-radius: 0 0 5px 5px;
}

.cwf-desktopmonitor-lock-panel {
	text-align: center;
    width: 100%;
    height: 100%;
    display: none;
}

.cwf-desktopmonitor-lock-panel .z-toolbar {
	border: none;
	background: white;
}

.cwf-desktopmonitor-lock-panel>div {
	top: 25%;
	position: relative;
	background: ivory;
	border-radius: 10px;
	padding: 10px;
}

.cwf-desktopmonitor-lock-panel>div>div {
	padding: 10px;
}

.cwf-desktopmonitor-lock-panel>div>.z-label:first-child {
	font-size: 150%;
	padding: 10px;
}

.cwf-desktopmonitor-lock-panel .glyphicon {
    font-size: 300%;
    margin: 20px 0 0 0;
}

.cwf-desktopmonitor-lock-panel .z-textbox {
	margin-right: 10px;
}

.cwf-desktopmonitor-lock-panel>div {
	width: 50%;
	min-width: 200px;
	display: inline-block
}

.cwf-desktopmonitor-baseline-countdown,
.cwf-desktopmonitor-lock-countdown,
.cwf-desktopmonitor-lock-idle {
	display: inline;
}

.cwf-desktopmonitor-lock-idle,
.cwf-desktopmonitor-lock-countdown {
	opacity: 1 !important;
	pointer-events: auto !important;
	height: 100%;
	background: lightgray;
}

.cwf-desktopmonitor-lock-idle .cwf-desktopmonitor-countdown-panel {
	visibility: hidden;
}

.cwf-desktopmonitor-lock-idle .cwf-desktopmonitor-lock-panel,
.cwf-desktopmonitor-lock-countdown .cwf-desktopmonitor-lock-panel {
	display: block;
}

.cwf-desktopmonitor-shutdown {
	opacity: .75;
    pointer-events: none;
}

.cwf-desktopmonitor-shutdown .cwf-desktopmonitor-countdown-panel input,
.cwf-desktopmonitor-shutdown .cwf-desktopmonitor-countdown-panel button {
	display: none;
}


