@CHARSET "UTF-8";

/*
	Style sheet for printing of about box.
*/

div {
	overflow: visible !important;
}

div.z-listbox-header {
	width: 100% !important;
}

div.z-listbox-body {
	height: 100% !important;
	width: 100% !important;
}

.z-listbox-body table {
	width: 100% !important;
}

.z-listcell-content {
	max-height: inherit !important;
}

tr.z-listitem-selected {
	background-image: inherit;
}