<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- Appenders -->
    <appender class="org.apache.log4j.DailyRollingFileAppender" name="exc">
        <param value="'.'yyyy-MM-dd" name="DatePattern"/>
        <param value="${java.io.tmpdir}/log/CareWeb-exception.log" name="File"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d{yyyy-MM-dd HH:mm:ss.SSS} %p %t %c - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <appender class="org.apache.log4j.DailyRollingFileAppender" name="R">
        <param value="'.'yyyy-MM-dd" name="DatePattern"/>
        <param value="${java.io.tmpdir}/log/CareWeb.log" name="File"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d{yyyy/MM/dd HH:mm:ss.SSS} %p %t %c - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <appender class="org.apache.log4j.ConsoleAppender" name="stdout">
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d{yyyy/MM/dd HH:mm:ss.SSS} %p %t %c - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    
    <logger additivity="false" name="EXCEPTION_LOG">
        <level value="info"/>
        <appender-ref ref="exc"/>
    </logger>
    
    <!-- For more fine-grained control, adjust specific loggers -->
    
    <!-- To log session/desktop information, change to consider DEBUG level -->
    <logger name="org.carewebframework.ui">
        <level value="info"/>
    </logger>
    
    <!-- Spring Framework -->
    <!-- 
    <logger name="org.springframework">
        <level value="info"/>
    </logger>
	-->    
    <root>
        <level value="info"/>
        <appender-ref ref="R" /><appender-ref ref="stdout" />
    </root>
</log4j:configuration>