<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender class="org.apache.log4j.ConsoleAppender" name="stdout">
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d{yyyy-MM-dd HH:mm:ss.SSS} %p %t %c - %x - %m%n"
				name="ConversionPattern" />
		</layout>
	</appender>

	<!-- For more fine-grained control, adjust specific loggers -->

	<!-- Regenstrief artifacts -->
	<!-- <logger name="org.carewebframework"> <level value="info"/> </logger> -->
	<logger name="org.apache.tomcat.jdbc">
		<level value="info" />
	</logger>
	<logger name="org.carewebframework.jdbc.pool.tomcat.LogInterceptor">
		<level value="info" />
	</logger>
	<!-- To log session/desktop information, change to consider DEBUG level -->
	<logger name="org.carewebframework.ui">
		<level value="info" />
	</logger>
	
	<logger name="org.carewebframework.api.context.ManagedContext">
		<level value="info" />
	</logger>

	<logger name="org.perf4j.TimingLogger">
		<level value="info" />
	</logger>

	<logger name="org.carewebframework.util.StopWatch">
		<level value="info" />
	</logger>

	<!-- Spring Framework -->
	<!-- <logger name="org.springframework"> <level value="info"/> </logger> -->
	<root>
		<level value="info" />
		<appender-ref ref="stdout" />
	</root>
</log4j:configuration>